<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Actors</title>
  <link rel="stylesheet" href="./stylesheets/server.css">
</head>

<body>
  <h1>&emsp; Movies </h1><br><br>
  <h4><a href="/movies">All Movies</a>&emsp;
  <a href="/actors">All Actors</a></h4>

  <br><br>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <h3><i><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></a></i></h3>
        <%= movie["year"] %>, <%= movie["genre"] %><br>
        <%= movie["studio"] %><br>
        <b><i>Rating:</i> <%= movie["rating"] %></b><br><br>
      </li>
    <% end %>
  </ul><br><br>

  <a href="/movies">All Movies</a>&emsp;
  <a href="/actors">All Actors</a>
</body>
</html>
